
body {
    text-align: center;
    padding-top: 200px;
}

p {
    font-size: x-large;
}
h1 {
    margin-bottom: 20px;
    color: green;
}
form {
    display: inline-block;
    margin-top: 20px; 
}
.container{
    max-width: 1200px; /* Largeur maximale */
    margin: 0 auto; /* Centrer le conteneur horizontalement */
    padding: 20px; /* Espacement interne */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%); /* Ombre légère */
}
